<%= [
    template_id: [type: :select, label: "Template", opts: [choices: @template_choices]],
    name: [type: :text_input, label: "Name"],
    slug: [type: :text_input, label: "Slug"],
    description: [type: :textarea, label: "Description", opts: [rows: 2]],
    body: [type: :textarea, label: "HTML", opts: [rows: 20]],
  ] |> render_fields(@form)
%>