<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item"><%= link "Themes", to: theme_path(@conn, :index) %></li>
  <li class="breadcrumb-item active"><%= @theme.name %></li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          Details
        </div>
        <div class="card-body">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
