.money-subtract-wrapper {
  width: 100px;
  display: block;
  float: right;
  text-align: right;
  .line_1 {
    display: block;
  }
  .line_2 {
    display: block;
    border-bottom: 1px solid #666;
    &:before {
      margin-right: 4px;
      padding: 2px 6px;
      border-radius: 3px;
      content: "-";
    }
  }
  .line_3 {
    display: block;
    font-weight: bold;
    border-bottom: 3px double #666;
    &.negative {
      color: red;
    }
  }
}

.invalid-feedback {
  display: block !important;
}

ul.list-group-kv li.list-group-item {
  strong {
    display: inline-block;
    width: 20%;
  }
  span: {
    display: inline-block;
  }
}

.metamask-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.metamask-container iframe,
.metamask-container object,
.metamask-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#audience-form {
  .reach-label {
    font-size: 13px;
  }
  .reach-stats {
    font-size: 11px;
  }
  .reach-progress {
    height: 10px;
  }
}
