<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="<%= static_path(@conn, "/images/code-sponsor-logo-square.png") %>">
  <title><%= title @conn, "Code Sponsor" %></title>

  <!-- Icons -->
  <link href="<%= static_path(@conn, "/theme/css/flag-icon.min.css") %>" rel="stylesheet">
  <link href="<%= static_path(@conn, "/theme/css/font-awesome.min.css") %>" rel="stylesheet">
  <link href="<%= static_path(@conn, "/theme/css/simple-line-icons.min.css") %>" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="<%= static_path(@conn, "/css/app.css") %>" rel="stylesheet">

  <!-- Styles required by this views -->
  <link href="<%= static_path(@conn, "/theme/css/daterangepicker.min.css") %>" rel="stylesheet">
  <link href="<%= static_path(@conn, "/theme/css/gauge.min.css") %>" rel="stylesheet">
  <link href="<%= static_path(@conn, "/theme/css/toastr.min.css") %>" rel="stylesheet">

  <!-- Bootstrap and necessary plugins -->
  <script src="<%= static_path(@conn, "/theme/js/jquery.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/theme/js/popper.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/theme/js/bootstrap.min.js") %>"></script>

  <!-- Prime main scripts -->
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  <!-- Plugins and scripts required by this views -->
  <script src="<%= static_path(@conn, "/theme/js/toastr.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/theme/js/gauge.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/theme/js/moment.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/theme/js/daterangepicker.min.js") %>"></script>
</head>

<body class="<%= body_class @conn, "app mt-5" %>">
  <%= render @view_module, @view_template, assigns %>
</body>
</html>