.required .control-label:after {
  content: '*';
  margin-left: 3px;
}

.form-group.is-invalid {
  .form-control {
    border-color: #f86c6b;
  }
  .invalid-feedback {
    display: block;
    p {
      margin: 0;
    }
  }
}