<%= [
    name: [type: :text_input, label: "Name"],
    body: [type: :text_input, label: "Body"],
    image_url: [type: :text_input, label: "Image URL", opts: [placeholder: "https://"]]
  ] |> render_fields(@form)
%>