<%= formex_form_for @form, @action, [method: @method, class: "form-horizontal"], fn f -> %>
  <%= if @form.submitted? do %>
    <div class="alert alert-danger" role="alert">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>
  <%= formex_rows f %>
<% end %>