<%= [

name: [type: :text_input, label: "Name"],
programming_languages: [
        type: :multiple_select,
        label: "Programming Languages",
        opts: [
          class: "form-control selectize",
          choices: CodeFund.Properties.programming_languages()
        ]
      ]] |> render_fields(@form)
%>