<!-- Breadcrumb -->
<ol class="breadcrumb" style="margin-bottom: 0px;">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="metamask-container">
  <iframe src="<%= @iframe_url %>" frameBorder="0" scrolling="no" allowTransparency></iframe>
</div>