<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="<%= static_path(@conn, "/images/codefund-logo-square.png") %>">
  <title>CodeFund</title>

  <!-- Browser Icons -->
  <link rel="shortcut icon" href="<%= static_path(@conn, "/images/codefund-logo-square.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= static_path(@conn, "/apple-touch-icon.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= static_path(@conn, "/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= static_path(@conn, "/favicon-16x16.png") %>">
  <link rel="manifest" href="<%= static_path(@conn, "/site.webmanifest") %>">
  <link rel="mask-icon" href="<%= static_path(@conn, "/safari-pinned-tab.svg") %>" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">

  <!-- Magnific-popup -->
  <link rel="stylesheet" href="<%= static_path(@conn, "/canvab/css/magnific-popup.css") %>">

  <!-- Bootstrap core CSS -->
  <link href="<%= static_path(@conn, "/canvab/css/bootstrap.min.css") %>" rel="stylesheet">

  <!-- materialdesign icons CSS -->
  <link href="<%= static_path(@conn, "/canvab/css/materialdesignicons.min.css") %>" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="<%= static_path(@conn, "/canvab/css/menu.css") %>" rel="stylesheet">
  <link href="<%= static_path(@conn, "/canvab/css/style.css") %>" rel="stylesheet">

  <style>
    .navbar-brand img {
      height: 30px;
      top: 25px;
    }
    .navbar.shrink .navbar-brand img {
      height: 20px;
      top: 20px;
    }
    #macbook-slideshow {
      position: relative;
    }
    #macbook-slideshow img.macbook {
      z-index: 1;
      position: absolute;
    }
    #macbook-slideshow > img.slide {
      z-index: 0;
    }
    #macbook-slideshow > img.slide ~ img.slide {
      display: none;
    }
  </style>
</head>

<body id="page-top">

  <!-- TAGLINE HEADER START-->
  <div class="topbar tagline-light"> 
    <div class="container"> 
      <div class="float-left"> 
        <div class="phone-topbar text-dark">
          <p class="mb-0">
            <a class="text-secondary" href="https://medium.com/gitcoin/code-sponsor-gitcoin-oss-sustainability-5684c4adf4b4" target="_blank">CodeFund + Gitcoin = OSS Sustainability</a>
          </p> 
        </div>
      </div>
      <div class="float-right">
        <ul class="list-inline social pb-0 pt-2">
          <li class="list-inline-item pl-2"><a href="https://twitter.com/codefundio"><i class="mdi mdi-twitter"></i></a></li>
          <li class="list-inline-item pl-2"><a href="https://github.com/gitcoinco/codefund"><i class="mdi mdi-github-face"></i></a></li>
          <li class="list-inline-item pl-2"><a href="https://gitcoin.co/slack"><i class="mdi mdi-slack"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- Static navbar -->

  <!-- Navigation Bar-->
  <header id="topnav" class="defaultscroll topnav-light sticky fixed-top">
    <div class="container">
      <!-- Logo container-->
      <div>
        <a href="/" class="logo">
          <img src="<%= static_path(@conn, "/images/codefund-logo.png") %>" style="height: 25px;">
        </a>
      </div>
      <!-- End Logo container-->
      
      <div class="menu-extras">
        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>

      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <li class="has-submenu ">
            <a href="#home">Home</a>
          </li>

          <li class="has-submenu ">
            <a href="#features">Why CodeFund?</a>
          </li>

          <li class="has-submenu">
            <a href="#ethical_advertising">Ethical Advertising</a>
          </li>

          <li class="has-submenu">
            <a href="#testimonials">Testimonials</a>
          </li>

          <li class="has-submenu">
            <a href="#faq">FAQ</a>
          </li>

          <li class="has-submenu">
            <a href="#contact">Contact</a>
          </li>
          
          <li class="has-submenu mobile-block">
            <%= link "Log In", to: session_path(@conn, :new) %>
          </li>

          <li class="has-submenu mobile-block">
            <%= link "Sign Up", to: registration_path(@conn, :new) %>
          </li>
        </ul>
        
        <ul class="navigation-menu menu-right">
          <li class="mobile-none">
            <%= link "Log In", to: session_path(@conn, :new) %>
          </li>

          <li class="mobile-none">
            <%= link "Sign Up", to: registration_path(@conn, :new) %>
          </li>
        </ul>
        <!-- End navigation menu-->
      </div>
    </div>
  </header>
  <!-- End Navigation Bar-->

  <!-- START HOME  -->
  <section class="home-bg-color" id="home">
    <div class="container slidero">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center text-white">
          <h1 class="mt-5 pt-5 home-title">
            Connect with software developers
          </h1>
          <p class="home-subtitle mx-auto pt-2">
            CodeFund is an open source ad network connecting highly qualified audiences with highly relevant
            services, products, and brands. The result is an increased ROI + brand exposure for
            advertisers and a better experience for readers.
          </p>
          <div class="mt-5">
            <%= link "Sign Up", to: registration_path(@conn, :new), class: "btn btn-outline-light" %>
          </div>
          <%# <a href="https://vimeo.com/108096448" class="pt-4 video-play-icon watch-overview d-inline-block text-white">Watch the overview &nbsp;<i class="mdi mdi-chevron-right"></i></a> %>
          <div id="macbook-slideshow">
            <img src="<%= static_path(@conn, "/canvab/images/macbook-border.png") %>" alt="" class="macbook img-fluid center-block home-dashboard">
            <img src="<%= static_path(@conn, "/canvab/images/macbook-devhints-2.png") %>" alt="" class="slide img-fluid center-block home-dashboard">
            <img src="<%= static_path(@conn, "/canvab/images/macbook-jsbin-2.png") %>" alt="" class="slide img-fluid center-block home-dashboard">
            <img src="<%= static_path(@conn, "/canvab/images/macbook-codesandbox-2.png") %>" alt="" class="slide img-fluid center-block home-dashboard">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END HOME -->


  <!-- START FEATURES -->
  <section class="section" id="features">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center pt-5">
            <h3 class="section-title">Why CodeFund?</h3>
            <p class="section-subtitle pt-3 text-muted">Here are some of the features that make CodeFund a must-use advertising channel</p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="service-box text-center p-4 mt-3">
            <div class="service-icon">
              <i class="mdi mdi-chart-areaspline text-custom"></i>
            </div>
            <div class="service-desc pt-4">
              <h5>Real-Time Analytics</h5>
              <p class="pt-2 text-muted">
                We provide real-time analytics, statistics, budgets and earnings for both advertisers and publishers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box text-center p-4 mt-3">
            <div class="service-icon">
              <i class="mdi mdi-github-face text-custom"></i>
            </div>
            <div class="service-desc pt-4">
              <h5>Open Source</h5>
              <p class="pt-2 text-muted">
                We love open source. We've built our careers on open source. Keeping it closed just feels wrong.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box text-center p-4 mt-3">
            <div class="service-icon">
              <i class="mdi mdi-percent text-custom"></i>
            </div>
            <div class="service-desc pt-4">
              <h5>Competitive Rates</h5>
              <p class="pt-2 text-muted">
                Publishers receive anywhere from 50% to 68% of the revenue recognized by CodeFund.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box text-center p-4 mt-3">
            <div class="service-icon">
              <i class="mdi mdi-account-search text-custom"></i>
            </div>
            <div class="service-desc pt-4">
              <h5>Full Disclosure</h5>
              <p class="pt-2 text-muted">
                Always know which properties your ads are appearing on, as well as who is advertising on your website.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box text-center p-4 mt-3">
            <div class="service-icon">
              <i class="mdi mdi-cube-unfolded text-custom"></i>
            </div>
            <div class="service-desc pt-4">
              <h5>Multiple Campaigns</h5>
              <p class="pt-2 text-muted">
                Advertisers can run multiple campaigns at the same time, each targeting a different audience.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box text-center p-4 mt-3">
            <div class="service-icon">
              <i class="mdi mdi-eyedropper text-custom"></i>
            </div>
            <div class="service-desc pt-4">
              <h5>Easy to customize</h5>
              <p class="pt-2 text-muted">
                Our ad creatives can be fully customized to look and perform the best on any website. We even have themes!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END FEATURES -->

  <!-- START ADVERTISERS
  <section class="section pt-7 pb-4" id="advertisers">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center"><img src="<%= static_path(@conn, "/images/rollbar-gray.png") %>" style="height: 100px;" /></div>
        <div class="col-md-4 text-center"><img src="<%= static_path(@conn, "/images/sentry-gray.png") %>" style="height: 100px;" /></div>
        <div class="col-md-4 text-center"><img src="<%= static_path(@conn, "/images/gitcoin-gray.png") %>" style="height: 100px;" /></div>
      </div>
    </div>
  </section>
  END ADVERTISERS -->

  <!-- START ETHICAL ADVERTISING -->
  <section class="section bg-light" id="ethical_advertising">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="section-title pb-3">What is Ethical Advertising?</h3>
          <p>
            CodeFund has adopted and applied many of the ideas from
            <a target="_blank" href="http://docs.readthedocs.io/en/latest/ethical-advertising.html">Read the Docs</a>
            on Ethical Advertising.
          </p>
          <p>
            <strong>Ethical Ads</strong> respect users while providing value to advertisers. We don't track you, sell
            your data, or anything else. We simply show ads to users, based on the content of the
            pages you look at.
          </p>
          <p>
            Think of Ethical Advertising as <strong>newspaper advertising, on the internet</strong>.
            For a hundred years, newspapers put an ad on the page, some folks would see it, and 
            advertisers would pay for this. This is our model.
          </p>
        </div>
        <div class="col-md-4">
          <div class="text-center pb-3 pt-5"><em>this is an actual ad:</em></div>
          <div id="codefund_ad"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- END ETHICAL ADVERTISING -->

  <!-- START TESTIMONIAL -->
  <section class="section bg-gray" id="testimonials">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <h3 class="section-title">Testimonials</h3>
            <p class="section-subtitle pt-3 text-muted">Don't take our word for it. This is what our clients are saying about CodeFund<br/><small>(formerly Code Sponsor)</small></p>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="testimonial-box">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">📣 PSA friends. <a href="https://twitter.com/codesponsor?ref_src=twsrc%5Etfw">@codesponsor</a> is an amazing resource for the Open Source community. Supporting OS sustainability while generating awareness for <a href="https://twitter.com/rollbar?ref_src=twsrc%5Etfw">@Rollbar</a>, was a total no-brainer decision...</p>&mdash; Mike Smith (@themlsmith) <a href="https://twitter.com/themlsmith/status/925843391832903680?ref_src=twsrc%5Etfw">November 1, 2017</a></blockquote>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-box">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I love <a href="https://twitter.com/codesponsor?ref_src=twsrc%5Etfw">@codesponsor</a>:<br>1. Helping make <a href="https://twitter.com/hashtag/OSS?src=hash&amp;ref_src=twsrc%5Etfw">#OSS</a> sustainable<br>2. Helping connect devs with relevant tools/services<br>3. Ethical ads (no tracking)<br>👏</p>&mdash; Kent C. Dodds (@kentcdodds) <a href="https://twitter.com/kentcdodds/status/905478113781362688?ref_src=twsrc%5Etfw">September 6, 2017</a></blockquote>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-box">
            <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/codesponsor?ref_src=twsrc%5Etfw">@codesponsor</a> for making running devhints.io sustainable. ♥️ <a href="https://t.co/bbMPtc25tV">https://t.co/bbMPtc25tV</a></p>&mdash; Devhints.io (@devhints) <a href="https://twitter.com/devhints/status/927590351505780736?ref_src=twsrc%5Etfw">November 6, 2017</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END TESTIMONIAL -->

  <!-- START FAQ -->
  <section class="section bg-light" id="faq">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <h3 class="section-title">Frequently Asked Questions</h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-6 faq-side"> 
          <div class="faq pt-4">
            <p class="text-uppercase user-title mb-1">for publishers</p>
            <div class="faq-ans">
              <h3 class="faq-title"><i class="mdi mdi-help-circle"></i> How much can I make?</h3>
              <p class="faq-sub-title text-muted pt-2">
                The earnings vary based on the website and advertisers willing to spend money on it.
                Typically we see around a 0.4% click rate (1 click per 250 impressions). Average earnings
                per click is around $0.50 but can fluctuate based on advertiser demand.
              </p>
              <p class="faq-sub-title text-muted">
                For example, a moderately popular website with 500,000 impressions per month at a 0.4%
                click rate with $.50 per click rate would generate approx $1,000/month.
              </p>
            </div>
          </div> 
          <div class="faq pt-4">
            <p class="text-uppercase user-title mb-1 mb-1">for publishers</p>
            <div class="faq-ans">
              <h3 class="faq-title"><i class="mdi mdi-help-circle"></i> How often am I paid?</h3>
              <p class="faq-sub-title text-muted pt-2">
                We pay the publishers in the first week of each month for the clicks generated the
                month prior. Currently we only support payments via PayPal. US tax laws apply.
              </p>
            </div>
          </div>
          <div class="faq pt-4">
            <p class="text-uppercase user-title mb-1">for publishers</p>
            <div class="faq-ans">
              <h3 class="faq-title"><i class="mdi mdi-help-circle"></i> How do I get started?</h3>
              <p class="faq-sub-title text-muted pt-2">
                Getting started is very easy. Just <%= link "register your account", to: registration_path(@conn, :new) %>,
                then add your websites that you believe will make good candidates for advertising.
                Remember, our advertisers are wanting to reach software developers. Documentation
                websites, blogs and online applications tend to work the best.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 faq-side "> 
          <div class="faq pt-4">
            <p class="text-uppercase user-title mb-1">for advertiser</p>
            <div class="faq-ans">
              <h3 class="faq-title"><i class="mdi mdi-help-circle"></i> Which publisher websites are available?</h3>
              <p class="faq-sub-title text-muted pt-2">
                We have amazing, high-traffic websites like <a target="_blank" href="https://jsbin.com">jsbin.com</a>,
                <a target="_blank" href="https://devhints.io">devhints.io</a> and
                <a target="_blank" href="https://codesandbox.io">codesandbox.io</a>, along with
                many others. Each property is pre-approved based on their impression volume and content. Once you
                have an advertiser account, you will be able to search and bid on individual websites for maximum
                ROI.
              </p>
            </div>
          </div> 
          <div class="faq pt-4">
            <p class="text-uppercase user-title mb-1">for advertiser</p>
            <div class="faq-ans">
              <h3 class="faq-title"><i class="mdi mdi-help-circle"></i> What is the minimum monthly ad spend?</h3>
              <p class="faq-sub-title text-muted pt-2">
                In order to get a good sense of the value CodeFund can provide, we ask that all advertisers
                commit to a minimum of $250 for the first month. Typical advertisers spend between $1,000 to $5,000 per month.
              </p>
            </div>
          </div>
          <div class="faq pt-4">
            <p class="text-uppercase user-title mb-1">for advertiser</p>
            <div class="faq-ans">
              <h3 class="faq-title"><i class="mdi mdi-help-circle"></i> Why would I use you over the other guys?</h3>
              <p class="faq-sub-title text-muted pt-2">
                Our goal has always been to help sustain open source software through ethical advertising.
                We do not hide our information and make sure you have all the data you need to make effective
                decisions for maximum ROI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END FAQ -->

  <!-- START CONTACT/FOOTER -->
  <section class="pt-5 bg-dark" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="text-center">
            <h3 class="section-title text-white pt-4">Contact us</h3>
            <p class="section-subtitle pt-3 text-whte">Fill out the form below to contact us.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="single-contact text-center text-white"> 
                <i class="mdi mdi-cellphone"></i>
                <h4>Phone</h4>
                <p>+1 801 633 9555</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-contact text-center text-white"> 
                <i class="mdi mdi-map-marker"></i>
                <h4>Address</h4>
                <p>49 Bogart Street Unit 22<br/>Brooklyn, NY 11206 USA</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="single-contact text-center text-white"> 
                <i class="mdi mdi-email-outline"></i>
                <h4>Email</h4>
                <p>team@codefund.io</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-8 bg-white p-5 mt-4 rounded">
          <form class="custom_form">
            <div class="row">
              <div class="col-lg-6 mt-3">
                <input type="text" name="name" class="form-control" placeholder="Name" required >
              </div>
              <div class="col-lg-6 mt-3">
                <input type="email" name="email" class="form-control" placeholder="Enter email" required >
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mt-3">
                <input type="text" name="subject" class="form-control" id="subject" placeholder="Your Subject.." />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mt-3">
                <textarea name="body" id="comments" rows="6" class="form-control" placeholder="Your message..."></textarea>
              </div>
            </div>
            <div class="mt-4 text-center">
              <button type="submit" class="btn btn-custom">Submit</button>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-8">
                <p class="text-center submit-terms mb-0 mt-3">
                  We will do our best to get back to you as soon as possible.
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-5 pt-5 pb-2">
        <div class="col-md-12">
          <div class="text-white footer-alt">
            <div class="float-left">
              <p class="copyright-desc pb-0">2018 &copy; Consensys. All Rights Reserved</p>
            </div>
            <div class="float-right">
              <ul class="list-inline social pb-0">
                <li class="list-inline-item pl-2"><a href="https://twitter.com/codefundio"><i class="mdi mdi-twitter text-white"></i></a></li>
                <li class="list-inline-item pl-2"><a href="https://github.com/gitcoinco/codefund"><i class="mdi mdi-github-face text-white"></i></a></li>
                <li class="list-inline-item pl-2"><a href="https://gitcoin.co/slack"><i class="mdi mdi-slack text-white"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END CONTACT/FOOTER -->
  
  <!-- Scroll to top -->
  <a href="#page-top" class="page-scroll scroll-to-top"><i class="fa fa-angle-up"></i></a>
  
  
  <!-- Main JS -->
  <script src="<%= static_path(@conn, "/canvab/js/jquery.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/canvab/js/popper.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/canvab/js/bootstrap.min.js") %>"></script>
  
  <!-- Include all js plugins (below) -->
  <script src="<%= static_path(@conn, "/canvab/js/jquery.easing.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/canvab/js/scrollspy.min.js") %>" type="text/javascript"></script>
  <script src="<%= static_path(@conn, "/canvab/js/jquery.magnific-popup.min.js") %>"></script>
  <script src="<%= static_path(@conn, "/canvab/js/waypoints.min.js") %>" type="text/javascript"></script>
  <script src="<%= static_path(@conn, "/canvab/js/jquery.counterup.min.js") %>" type="text/javascript"></script>
  <script src="<%= static_path(@conn, "/canvab/js/particles.js") %>"></script>  
  <script src="<%= static_path(@conn, "/canvab/js/particles.app.js") %>"></script>
  
  <!-- Theme JS -->
  <script src="<%= static_path(@conn, "/canvab/js/jquery.app.js") %>"></script>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script async src="https://codefund.io/scripts/51b2fb2d-92c0-4c1a-b60b-825eb76e2a2f/embed.js?template=image-centered"></script>

  <script>
  $(function() {
    var slides = $('#macbook-slideshow .slide');
    var currentSlide = 0;
    var slideInterval = setInterval(nextSlide,8000);

    function nextSlide() {
      $(slides[currentSlide]).hide();
      currentSlide = (currentSlide+1)%slides.length;
      $(slides[currentSlide]).fadeIn();
    }
  });
  </script>

  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"e95ff716114dbc939f8ef6100","lid":"f036681f65"}) })</script>

  <%= ga_tag() %>
</body>
</html>