<script>
  $(document).on('ready', function () {
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

    var typed = new Typed(".u-text-animation.u-text-animation--typing", {
      strings: ["open source", "ethical", "developer driven"],
      typeSpeed: 50,
      loop: true,
      backSpeed: 25,
      backDelay: 1500
    });
  });
</script>