<span data-controller="insertion-order">
  <%= [
      audience_id: [type: :select, label: "Audience", opts: [choices: @audience_choices]],
      user_id: [type: :select, label: "User", opts: [choices: @advertiser_choices]],
      date: [type: :text_input, label: "Billing Cycle", opts: ["data-target": "insertion-order.datePicker"]],
      impression_count: [type: :number_input, label: "Impression Count"],
      billing_cycle: [type: :hidden_input, label: "", opts: ["data-target": "insertion-order.date"]]
    ] |> render_fields(@form)
  %>
</span>